<!doctype html>
<html>
    <head>
        <title>{% if (title is defined) and title|trim is not empty %}{{ title|trim }} | CsCloud{% else %}CsCloud{% endif %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link rel="shortcut icon" href="/favicon.png" />

        {% block meta_robots %}{% endblock %}

        {% stylesheets '@CsCloudFrontendBundle/Resources/assets/less/bootstrap.less'
                       '@CsCloudFrontendBundle/Resources/assets/less/style.less'
                  filter='less,?yui_css' output='css/compiled/main.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block extra_css %}{% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        {% stylesheets '@CsCloudFrontendBundle/Resources/assets/less/ie8.less'
            filter="less" output="css/compiled/ie8.css" %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
            <link href="{{ asset('respond-proxy.html') }}" id="respond-proxy" rel="respond-proxy" />
            <link href="/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
            <script src="/respond.proxy.js"></script>
        <![endif]-->
    </head>
    <body class="{% if (body_class is defined) %} {{ body_class }}{% endif %}">

    <div class="container">
        <div class="navbar">
            <div class="navbar-inner block rounded-box">
                <div class="navbar-left">
		  {% block navbar_left %}
		  <img src="/images/Home.png">  Nome Cognome    Gruppo1 - Gruppo2
		  {% endblock %}
                </div>
                <div class="navbar-right">
                    <div class="toolbar">
                        {% block toolbar %}
                        <img src="/images/Contatti.png">
                        <img src="/images/Messaggi.png">
                        <img src="/images/Alert.png">
                        <img src="/images/Profilo.png">
                        <img src="/images/Settaggi.png">
                        <img src="/images/Help.png">
            			<img src="/images/Ricerca.png">
			            {% endblock %}
                    </div>
                </div>
            </div>
            <!-- /navbar-inner -->
        </div>
        <!-- /navbar -->
        
        <div class="main">
            <div class="main-inner">
                <div class="sidebar-left">
		  <div class="rounded-box block">
		     {% block menu %}
                     <div class="menu" id="menu">
                        <ul>
                            <li class="active">
                                <a href='#file'>File</a>
                            </li>
                            <li>
                                <a href='#attivita'>Attività</a>
                            </li>
                            <li>
                                <a href='#documenti'>Documenti</a>
                            </li>
                            <li>
                                <a href='#sheet'>Fogli di Calcolo</a>
                            </li>
                            <li>
                                <a href='#picture'>Immagini</a>
                            </li>
                            <li>
                                <a href='#news'>News</a>
                            </li>
                            <li>
                                <a href='#bookmark'>Bookmark</a>
                            </li>
                            <li>
                                <a href='#calendario'>Calendario</a>
                            </li>
                            <li>
                                <a href='#contatti'>Contatti</a>
                            </li>
                        </ul>
                        <ul>
                            <li class="active">
                                <a href='#profilo'>Profilo</a>
                            </li>
                            <li>
                                <a href='#settaggi'>Settaggi</a>
                            </li>
                        </ul>
                        <ul>
                            <li class="active">
                                <a href='#uscita'>uscita</a>
                            </li>
                        </ul>
                    </div>
		     {% endblock %}
                  </div>
		  <div class="content">
		  {% block content %}
                    <div class="rounded-box block"></div>
		  {% endblock %}
		  </div>
            </div>
            <!-- /main-inner -->
            <div class="clear"></div>
        </div>
        <!-- /main -->
        <div class="footer">
            <div class="footer-inner rounded-box">
            </div>
        <!-- /footer-inner -->
        </div>

    </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {% javascripts 
                       '@CsCloudFrontendBundle/Resources/assets/js/bootstrap/modal.js'
                       '@CsCloudFrontendBundle/Resources/assets/js/main.js'
            filter="?closure" output="js/compiled/main.js" %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block extra_js %}{% endblock %}
    </body>
</html>
