{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form name="login_form" id="login_form" action="{{ path("fos_user_security_check") }}" method="post" onsubmit="" >
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    <button onclick="javascript:onSubmit();" >Submit</button>
    <!-- <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" /> -->
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="application/javascript">
function onSubmit() {
    $.support.cors = true;
    $.ajax({
        type: 'POST',
        async: false,
        url: 'http://cloud.marche5stelle.it/ocs/v1.php/person/login2',
        crossDomain: true,
        data: 'login=' + login_form.username.value + '&password=' + login_form.password.value,
        dataType: 'xml',
        xhrFields: {
            withCredentials: true
        },
        beforeSend: function(xhr){
            xhr.withCredentials = true;
            xhr.setRequestHeader('Authorization' , make_base_auth(login_form.username.value, login_form.password.value));
        },
        success: function(responseData, textStatus, jqXHR)
        {
            var form = $('login_form');
            form.submit();
        },
        error: function (responseData, textStatus, errorThrown)
        {
            console.warn(responseData, textStatus, errorThrown);
            alert('CORS failed - ' + responseData);
        }
    });

}


// courtest of stack overflow...
function make_base_auth(user, password) {
    var tok = user + ':' + password;
    var hash = btoa(tok);
    return "Basic " + hash;
}

</script>
{% endblock fos_user_content %}
